<template name="accueil"> 
  <div class="parallax-container">
    <div class="parallax"><img src="ressources/img/top.png"></div>
  </div>
  <div class="section white container">
    <div class="row ">
      <h2 class="header">Catch them all !</h2>
      <p class="grey-text text-darken-3 lighten-3">Préparez-vous à entrer dans l'arène !<br>Capturez tous vos ennemis sans vous faire capturer pour devenir le maître Pokemon !!</p>
      {{> atForm}}
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="ressources/img/be_prepared.png"></div>
  </div>
  
</template>