<template name="gamemode">
  <div class="row">
    <div class="col s12 m4">
      <div class="card small">
        <div class="card-image">
          <img src="ressources/img/1v1.png">
          <span class="card-title">1 contre 1</span>
        </div>
        <div class="card-content">
          <p><b>Mode 2 Joueurs</b></p>
        </div>
        <div class="card-action">
          <a id="mode1" href="#">S'inscrire</a>
        </div>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="card small">
        <div class="card-image">
          <img src="ressources/img/coming_soon.jpg">
          <span class="card-title">Free for all</span>
        </div>
        <div class="card-content">
          <p><b>Mode 4 Joueurs</b></p>
        </div>
        <div class="card-action">
          <a href="#" diseable>S'inscrire</a>
        </div>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="card small">
        <div class="card-image">
          <img src="ressources/img/coming_soon.jpg">
          <span class="card-title">2 contre 2</span>
        </div>
        <div class="card-content">
          <p><b>Mode 4 Joueurs</b></p>
        </div>
        <div class="card-action">
          <a href="#">S'inscrire</a>
        </div>
      </div>
    </div>
  </div>
</template>