<template name="stats">
  {{> menu}}
<!--
  <h2>Statistiques générales</h2>
  <p> Nombre de parties : </p>
  <p id='nbgames'>  </p>

  <p> Temps moyens : </p>
  <p id='averagetime'> </p>
-->
  <div class="panel panel-info">

    <div class="panel-heading"><span class="title">Statistiques générales</span></div>

    <div class="panel-body">
      <u>Nombre de parties :</u>
      <p id='nbgames'> --- </p>
      <br/>
      <u>Temps moyens :</u>
        <p id='averagetime'> --- </p>
        
      <br/>
      <u>Pokemon le plus joué :</u>
        <i id='poke+head'></i><p id='poke+nom'> --- </p>
    </div>




  </div>


</template>
